<%provide(:title,"Log in")%>
<%=render "layouts/header"%>
<section class="vh-100 signup" style="background-color: white; margin-top: -45px">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="border border-dark text-black" style="border-radius: 25px;">
          <div class="row justify-content-center">
            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
              <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Log in</p>
              <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
                  <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                      <p class="lead fw-bold mb-0 me-3">Log in with</p>
                      <button type="button" class="btn btn-outline-dark mt-auto btn-floating mx-1">
                          <i class="fab fa-facebook-f"></i>
                      </button>

                      <button type="button" class="btn btn-outline-dark mt-auto btn-floating mx-1">
                          <i class="fab fa-twitter"></i>
                      </button>

                      <button type="button" class="btn btn-outline-dark mt-auto btn-floating mx-1">
                          <i class="fab fa-linkedin-in"></i>
                      </button>
                  </div>

                  <div class="divider d-flex align-items-center my-4">
                      <p class="text-center fw-bold mx-3 mb-0">Or</p>
                  </div>
                  <!-- Email Login -->
                  <div class="form-outline mb-4">
                      <%= f.label :email, class: "form-label" %>
                      <%= f.email_field :email, class: 'form-control form-control-lg',placeholder: "Enter a valid email address" %>
                  </div>
                  <!-- Password Login -->
                  <div class="form-outline mb-3">
                      <%= f.label :password ,class:"form-label"%>
                      <%= f.password_field :password, class: 'form-control form-control-lg',placeholder: "Enter Password" %>
                  </div>
                  <div class="d-flex justify-content-between align-items-center">
                    <%= f.submit "Log in", class: "btn btn-outline-dark mt-auto btn-lg" %>

                    <!-- Checkbox -->
                    <div class="form-check mb-0">
                      <%= f.label :remember_me, class: "checkbox inline" do %>
                        <%= f.check_box :remember_me %>
                        <span>Remember me</span>
                      <% end %>
                    </div>
                    <%= link_to "Forgot password",new_password_reset_path, class:"text-body"%>
                  </div>
                  <div class="text-center text-lg-start mt-4 pt-2">
                    <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? 
                    <%=link_to "Register",signup_path,class:"link-danger"%>
                    </p>
                  </div>
                <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>