<li style="list-style: none" id="product-<%= product.id %>">
    <div class="col mb-5">
    <div class="card h-100">
        <!-- Product image-->
        <%= image_tag product.images[0].thumb.url if product.images? %>
        <!-- Product details-->
        <div class="card-body p-4">
            <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder"><%= product.name %></h5>
                <!-- Product reviews-->
                <div class="d-flex justify-content-center small text-warning mb-2">
                    <div class="description bi-star-fill"><%= product.description %></div>
                </div>
                <!-- Product price-->
                <%= product.price %> $
            </div>
        </div>
        <!-- Product actions-->

        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
                <%= link_to "View", product_path(product), class: "btn btn-outline-dark mt-auto" %>
            </div>
        </div>

        <%# <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
        </div> %>

        <%# Prevent edit and delete in show all products view %>

        <% if !current_shop.nil? %>
            <% if request.path == shop_path(current_shop.id) %>
                <% if product.shop == current_shop %>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <%= link_to "Edit", edit_product_path(product), class:"btn btn-outline-dark mt-auto" %>
                        </div>
                    </div>

                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <%= button_to "Delete", product_path(product), method: :delete, class:"btn btn-outline-dark mt-auto" %>
                        </div>
                    </div>
                <% end %>
            <% end %>        
        <% end %>

    </div>
</div>
</li>

