<div class="site-wrap">
  <div class="bg-light py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-0">
          <%= link_to "Home", root_path%>
          <span class="mx-2 mb-0">/</span> 
          <strong class="text-black"><%= @product.name %></strong>
        </div>
      </div>
    </div>
  </div>  
  <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <%= image_tag @product.image.thumb.url, class: "img-fluid"%>
        </div>
        <div class="col-md-6">
          <h2 class="text-black"><%= @product.name %></h2>
          <p><%= @product.description %></p>
          <p><strong class="text-black h4">Color: </strong><%= @product.color %></p>
          <p><strong class="text-black h4">Size: </strong><%= @product.size %></p>
          <p><strong class="text-black h4">Price: </strong><%= @product.price %> $</p>
          <p>
            <strong class="text-black h4">
              Categories: 
            </strong>
            <% @product.categories.each do |cate| %>
                <p class="btn btn-secondary btn-sm"><%= cate.name %></p>
            <% end %>
          </p>
          <div class="mb-5">
            <div class="input-group mb-3" style="max-width: 120px;">
            <div class="input-group-prepend">
              <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
            </div>
            <input type="text" class="form-control text-center" value="1" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
            <div class="input-group-append">
              <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
            </div>
          </div>
          </div>
          <p>
            <%= button_to "Add to cart", add_product_path, method: :post, class:"btn btn-outline-dark mt-auto" %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


  <%= render "layouts/footer" %>

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>

  <script src="js/main.js"></script>