<div class="container bootdey">
<div class="col-md-12">
<section class="panel">
    <div class="bg-white py-3">
        <div class="container">
          <div class="row">
            <div class="col-md-12 mb-0">
              <%= link_to "Back to Shop", products_path%>
              <span class="mx-2 mb-0">/</span> 
              <strong class="text-black"><%= @product.name %></strong>
            </div>
          </div>
        </div>
    </div>  
      <div class="panel-body d-flex">
          <div class="col-md-6">
              <div class="pro-img-details">
                  <%= image_tag @product.images[0].thumb.url, class: "img-fluid", style: "width: 550px; height: 380px"%>
              </div>
              <div class="pro-img-list">
                    <% for i in 1...@product.images.count %>
                        <a href="#">
                            <%= image_tag @product.images[i].thumb.url, class: "img-fluid", style: "width: 115px; height: 100px"%>
                        </a>
                        <% if i == 4 %>
                            <% break %>
                        <% end %>
                    <% end %>
              </div>
          </div>
          <div class="col-md-6 product-des">
              <h4 class="pro-d-title">
                  <a href="#" class="" style="font-size: 24px">
                      <strong><%= @product.name %></strong>
                  </a>
              </h4>
              <p>
                  <%= @product.description %>
              </p>
              <div class="product_meta">
                <span class="tagged_as"><strong>Shop: <%= link_to "#{@product.shop.name}", shop_path(@product.shop) %></strong></span>
                <span class="posted_in"> <strong>Color:</strong> 
                    <% @product.colors.each do |color| %>
                        <a rel="tag" href="#"><%= color.name %></a>
                    <% end %>
                </span>
                <span class="posted_in"> <strong>Size:</strong> 
                    <% @product.sizes.each do |size| %>
                        <a rel="tag" href="#"><%= size.name %></a>
                    <% end %>
                </span>
                <span class="posted_in"> <strong>Categories:</strong> 
                    <% @product.categories.each do |cate| %>
                        <a rel="tag" href="#"><%= cate.name %></a>
                    <% end %>
                </span>
                <span class="tagged_as"><strong>Tags:</strong> <a rel="tag" href="#">mens</a>, <a rel="tag" href="#">womens</a>.</span>
                <span class="tagged_as"><strong>Size: </strong><%= @product.price %></span>
                <% if @product.quantity_remain == 0 %>
                    <span class="tagged_as"><strong class="text-danger" style="font-size:25px">Out of stock</strong></span>  
                <% else %>
                    <span class="tagged_as"><strong>Quantity Remain: </strong><%= @product.quantity_remain %></span>  
                <% end %>
            </div>
              <div class="form-group">
                <% if @product.quantity_remain != 0 %>
                    <%= form_with url: add_product_path do |form| %>
                        <div class="item__button">
                            <div class="input-group">
                                <%= form.collection_radio_buttons :size_product, @product.sizes.all, :id, :name do |b| %>
                                <% b.label(class: "item__size d-flex me-2") {b.label(class: "input-group-text input_group_text") {b.radio_button(class: "form-check-input mt-0", "aria-label" => "Checkbox for following text input" )} + b.label(class:"form-control form_control") {b.text}} %>
                                <% end %>
                            </div>
                        </div>
                        <%= form.label :quantity, "Quantity" %>
                        <%= form.number_field :quantity %>
                        <%= form.submit "Add to cart", class:"btn btn-round btn-danger" %>
                    <% end %>
                <% end %>
              </div>
          </div>
      </div>
</section>
</div>
</div>